@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Syne:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 15px;
    background: #FDFBF5;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    margin: 15px auto;
    border: 1px solid #000;
    border-radius: 3px ;
    max-width: 2560px;
    padding: 2rem;
}

.blk-btn {
    background: #000;
    color: #fff;
    padding: 9px 18px;
    border-radius: 7px;
}

/* HEADER */
header {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: .1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #000;
}

nav .logo img {
    width: 85%;
}

.nav_links a {
    padding: 0 15px;
}

.nav_links a:hover {
    opacity: 65%;
}

.nav_links a .blk-btn {
    letter-spacing: .1rem;
    cursor: pointer;
}

.nav_links a.soc-med {
    border: 0.5px solid #000;
    border-radius: 50%;
    padding: 10px;
}

/* LANDING */
.landing {
    font-family: 'Syne', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    border-bottom: 1px solid #000;
}

.landing .landing-left {
    width: 50%;
}


.landing .landing-head {
    font-size: 96px;
    font-weight: 500;
    line-height: 105px;
    padding-bottom: 1rem;
}

.landing .landing-subhead {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

/* "OUR CLIENTS" */
.our-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid #000;
}

.our-clients-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 15px
}